<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name=" Test Suite">
    <test verbose="2"  name="AppiumPractice">
        <classes>
            <class name="com.sauceLabs.tests.EndToEndTest">
                <methods>
                    <include name="endToEndScenario"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>